<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Name ::  <%= username %></p>
    <p>Password :: <%= password %></p>
  </body>
</html>
